/* Splash Page Styles */
.splash-body {
  background: url("../../media/engagement/25-engagement.jpg") no-repeat center
    center fixed;
  height: 100%;
  width: 100%;
  padding-top: 1px;
  padding-bottom: 0px;
  font-family: Cormorant Garamond, Lucida Bright, serif;
}

#overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(120, 120, 120);
  opacity: 0;
  z-index: -1;
}
#overlay.fade-in {
  opacity: 0.4;
  transition: opacity 5s;
}

.splash-container {
  margin: 7% 7% 7% 7%;
  position: relative;
  top: 200px;
}

.link-container {
  margin: 7% 7% 7% 7%;
  position: absolute;
  bottom: 100px;
}

#splash-title {
  font-size: 6em;
  color: #fffafa;
  opacity: 0;
  z-index: 2;
}
#splash-title.fade-in {
  opacity: 1;
  transition: opacity 5s;
}

#splash-date {
  font-size: 4em;
  font-style: italic;
  color: #fffafa;
  opacity: 0;
}
#splash-date.fade-in {
  opacity: 1;
  transition: opacity 5s;
}

#enter-link {
  font-size: 5em;
  color: #fffafa;
  opacity: 0;
  z-index: 2;
}
#enter-link.fade-in {
  opacity: 1;
  transition: opacity 5s;
}

/* Splash Page Mobile */
@media screen and (max-width: 480px) {
  .splash-body {
    background-position: 53% 50%;
    background-size: auto 110%;
  }
  .splash-container {
    margin: 2% 2% 2% 2%;
    position: relative;
    top: 20px;
  }
  #splash-title {
    font-size: 5em;
  }
  #splash-date {
    font-size: 3em;
  }
  #enter-link {
    font-size: 3em;
    color: #fffafa;
    opacity: 0;
    z-index: 2;
  }
}

/* In case someone is using a tablet???? */
@media screen and (max-width: 1024px) {
  .splash-body {
    background-position: 53% 50%;
    /*background-size: auto 110%;*/
  }

  .splash-container {
    margin: 4% 4% 4% 4%;
    position: relative;
    top: 100px;
  }
}
