/* Space out content a bit */
body {
  padding-top: 80px;
  padding-bottom: 80px;
  /*background-image: url("../media/pastel.jpg"); */
  background-color: #f5f5f5;
  background-size: 400px;
  background-repeat: repeat;
  font-family: Cormorant Garamond, Lucida Bright, serif;
  color: #ADADAA 
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.details,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 3px solid #e5e5e5;
}

.spacer {
  padding-top:40px;
  padding-bottom: 40px;
  border-bottom: 2px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 40px;
  padding-bottom:20px;
  color: #777;
  border-top: 3px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 70%;
    /*border: 2px solid #e5e5e5;*/
    padding: 20px;
  }
}
.container-narrow > hr {
  margin: 0 0;
}

.centre-nav {
  display: inline;
  text-align: center;
}

/* Main message */
.jumbotron {
  text-align: center;
  border-bottom: 0px solid #e5e5e5;
  padding: 0px !important;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

img {
  max-width: 100%;
  height: auto;
}

.nav-pills li.active-nav a{
  background-color: #891632;
  color: floralwhite;
}

.nav-pills a {
  color: darkgray;
}

.page-card {
  background-color: white;
}

.inner-card {
  background-color: white;
  border: 2px solid #e5e5e5;
  padding: 78px;
}

.fill-text {
  line-height: 1.5em;
}

h1.title {
  font-size: 6em;
  text-align: center;
}

.block{
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #e5e5e5;
}
.block-no-border {
  padding-top: 20px;
  padding-bottom: 20px;
}
.img-basket {
  position: relative;
  bottom: 0px;
}
.watercolor {
  max-width: 40%;
  height: auto;
  position: absolute;
  right: 50px;
  top: -200px;
  z-index: 1;
}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 0px;
    text-align: center;
  }
  .spacer {
    margin-bottom: 50px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  .watercolor {
    visibility: hidden;
  }
}

/* Responsive: Mobile */
@media screen and (max-width: 480px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 0px;
    text-align: center;
  }
  .spacer {
    margin-bottom: 50px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  .container {
    max-width: 100%;
    border: 1px solid #e5e5e5;
    padding: 10px;
  }
  .container-narrow > hr {
  margin: 0 0;
  }
  h1.title{
    font-size: 3em;
  }
  .watercolor {
    visibility: hidden;
  }
}
