/* Space out content a bit */
body {
  padding-top: 80px;
  padding-bottom: 80px;
  /*background-image: url("../media/pastel.jpg");
  background-size: 400px;
  background-repeat: repeat;
  background: rgb(3,5,61);
  background: linear-gradient(0deg, rgba(3,5,61,1) 0%, #898bcb 37%, #f5f5f5 100%);*/
  background-color: #ebe8e8;
  font-family: Cormorant Garamond, Lucida Bright, serif;
  color: #6e6e6e;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.details,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 3px solid #e5e5e5;
}

.spacer {
  padding-top:40px;
  padding-bottom: 40px;
  border-bottom: 2px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 40px;
  padding-bottom:20px;
  color: #777;
  border-top: 3px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 70%;
    /*border: 2px solid #e5e5e5;*/
    padding: 20px;
  }
}
.container-narrow > hr {
  margin: 0 0;
}

.centre-nav {
  display: inline;
  text-align: center;
}

/* Main message */
.jumbotron {
  text-align: center;
  border-bottom: 0px solid #e5e5e5;
  padding: 0px !important;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

img {
  max-width: 100%;
  max-height: auto;
}
img.rose {
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

a {
  font-size: 1.5vw
}

.nav-pills li.active-nav a{
  background-color: #891632;
  color: floralwhite;
}

.nav-pills a {
  color: darkgray;
}

.page-card {
  background-color: white;
  position: relative;
}

.inner-card {
  background-color: white;
  border: 2px solid #e5e5e5;
  padding: 78px;
}

.fill-text {
  line-height: 1.5em;
}

h1.title {
  font-size: 6em;
  text-align: center;
}

.block{
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid #e5e5e5;
}
.block-no-border {
  padding-top: 20px;
  padding-bottom: 20px;
}
.img-basket {
  position: relative;
  bottom: 0px;

}
.watercolor {
  max-width: 50%;
  height: auto;
  position: absolute;
  right: -160px;
  top: -200px;
  z-index: 1;
}

.rsvp{
  padding: 10px 10px 20px 10px;
  border: 2px solid #e5e5e5;
  border-radius: 15px;
  position: relative;
  font-size: 1.1em;
}
input[type=radio] {
  margin-right: 4px;
}

.rsvp-row {
  padding-top: 15px;
}

#rsvpRadios{
  display:flex;
}

.submission {
  margin-left: 5px;
}

.marker {
  margin-left: 5px;
  border-bottom: 2px solid #891632;
}

.guest-name{
  color: #891632
}

textarea {
  resize: none;
}

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
    margin-top: 20px;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 0px;
    text-align: center;
  }
  .spacer {
    margin-bottom: 50px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  .watercolor {
    display: none;
  }
  .page-card{
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

/* Responsive: Mobile */
@media screen and (max-width: 480px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
    margin-top: 20px;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 0px;
    text-align: center;
  }
  .spacer {
    margin-bottom: 50px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  .container {
    max-width: 100%;
    border: 1px solid #e5e5e5;
    padding: 10px;
  }
  .container-narrow > hr {
  margin: 0 0;
  }
  h1.title{
    font-size: 3em;
  }
  a{
    font-size: 4.0vw
  }
  .inner-card {
    padding: 15px;
  }
  .watercolor {
    display: none;
  }
  #rsvpRadios{
    display: inline;
  }
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid rgb(126, 119, 119);
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}